<section id="fun-facts-index-leader" class="jumbotron text-center">
  <div class="container">
    <h1><%= t 'story.fun_facts_title' %></h1>
  </div>
</section>
<section>
  <div class="grid-ish">
    <div class="fun-facts-flip-card">
      <div class="fun-facts-flip-card-inner">
        <div class="fun-facts-flip-card-front">
          <p><%= t 'story.fun_facts_first_move_q' %></p>
        </div>
        <div class="fun-facts-flip-card-back">
          <p><%= t 'story.fun_facts_first_move_a' %></p>
        </div>
      </div>
    </div>
    <div class="fun-facts-flip-card">
      <div class="fun-facts-flip-card-inner">
        <div class="fun-facts-flip-card-front">
          <p><%= t 'story.fun_facts_first_date_q' %></p>
        </div>
        <div class="fun-facts-flip-card-back">
          <p><%= t 'story.fun_facts_first_date_a' %></p>
        </div>
      </div>
    </div>
    <div class="fun-facts-flip-card">
      <div class="fun-facts-flip-card-inner">
        <div class="fun-facts-flip-card-front">
          <p><%= t 'story.fun_facts_honeymoon_q' %></p>
        </div>
        <div class="fun-facts-flip-card-back">
          <p><%= t 'story.fun_facts_honeymoon_a' %></p>
        </div>
      </div>
    </div>
    <div class="fun-facts-flip-card">
      <div class="fun-facts-flip-card-inner">
        <div class="fun-facts-flip-card-front">
          <p><%= t 'story.fun_facts_first_holiday_q' %></p>
        </div>
        <div class="fun-facts-flip-card-back">
          <p><%= t 'story.fun_facts_first_holiday_a' %></p>
        </div>
      </div>
    </div>
    <div class="fun-facts-flip-card">
      <div class="fun-facts-flip-card-inner">
        <div class="fun-facts-flip-card-front">
          <p><%= t 'story.fun_facts_favourite_meal_q' %></p>
        </div>
        <div class="fun-facts-flip-card-back">
          <p><%= t 'story.fun_facts_favourite_meal_a' %></p>
        </div>
      </div>
    </div>
    <div class="fun-facts-flip-card">
      <div class="fun-facts-flip-card-inner">
        <div class="fun-facts-flip-card-front">
          <p><%= t 'story.fun_facts_weirdest_food_q' %></p>
        </div>
        <div class="fun-facts-flip-card-back">
          <p><%= t 'story.fun_facts_weirdest_food_a' %></p>
        </div>
      </div>
    </div>
  </div>
</section>
