<section id="story-index-leader" class="jumbotron text-center">
  <div class="container">
    <h1><%= t 'story.title' %></h1>
  </div>
</section>

<% if browser.mobile? %>
  <section class="default-content">
    <div class="container">
      <div class="story-flex-container">
        <div>
          <p><%= t 'story.timeline_intro' %></p>
        </div>
        <div>
          <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1740930529/sin_fondoBrown_Elegant_Tender_Aesthetic_Spring_Moodboard_Photo_Collage_Desktop_Wallpaper__2_-removebg-preview_il3khf.jpg', class: 'story-flex-image') %>
        </div>
      </div>
      <div class="story-flex-container">
        <div>
          <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1738074794/IMG_20211031_140356091_akqesa.jpg', class: 'story-flex-image') %>
        </div>
        <div>
          <p><%= t 'story.timeline_jess' %></p>
        </div>
      </div>
      <div class="story-flex-container">
        <div>
          <p><%= t 'story.timeline_sebi' %></p>
        </div>
        <div>
          <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1738091073/1093_voeqrr.jpg', class: 'story-flex-image') %>
        </div>
      </div>
      <div class="story-flex-container">
        <div>
          <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1738091218/IMG_20210116_182352_szntfh.jpg', class: 'story-flex-image') %>
        </div>
        <div>
          <p><%= t 'story.timeline_click' %></p>
        </div>
      </div>
      <div class="story-flex-container">
        <div>
          <p><%= t 'story.timeline_move_in' %></p>
        </div>
        <div>
          <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1745158230/913_xjogtx.jpg', class: 'story-flex-image') %>
        </div>
      </div>
      <div class="story-flex-container">
        <div>
          <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1744100352/Image_ubwrb6.png', class: 'story-flex-image') %>
        </div>
        <div>
          <p><%= t 'story.timeline_proposed' %></p>
        </div>
      </div>
      <div class="story-flex-container">
        <div>
          <p><%= t 'story.timeline_next_chapter' %></p>
        </div>
        <div>
          <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1738091358/1000011830_ycknnr.jpg', class: 'story-flex-image') %>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <div class="timeline">
    <div class="timeline_component">
      <div class="timeline_left">
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1740930529/sin_fondoBrown_Elegant_Tender_Aesthetic_Spring_Moodboard_Photo_Collage_Desktop_Wallpaper__2_-removebg-preview_il3khf.jpg') %>
      </div>
    </div>
    <div class="timeline_middle">
      <div class="timeline_point_parent">
        <div class="timeline_point"></div>
      </div>
    </div>
    <div class="timeline_component">
      <div class="timeline_right timeline_text">
        <p>
          <%= t 'story.timeline_intro' %>
        </p>
      </div>
    </div>
    <div class="timeline_component">
      <div class="timeline_left timeline_text">
        <p>
          <%= t 'story.timeline_jess' %>
        </p>
      </div>
    </div>
    <div class="timeline_middle">
      <div class="timeline_point_parent">
        <div class="timeline_point"></div>
      </div>
    </div>
    <div class="timeline_component">
      <div class="timeline_right">
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1738074794/IMG_20211031_140356091_akqesa.jpg') %>
      </div>
    </div>
    <div class="timeline_component">
      <div class="timeline_left">
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1738091073/1093_voeqrr.jpg') %>
      </div>
    </div>
    <div class="timeline_middle">
      <div class="timeline_point_parent">
        <div class="timeline_point"></div>
      </div>
    </div>
    <div class="timeline_component">
      <div class="timeline_right timeline_text">
        <p>
          <%= t 'story.timeline_sebi' %>
        </p>
      </div>
    </div>
    <div class="timeline_component">
      <div class="timeline_left timeline_text">
        <p>
          <%= t 'story.timeline_click' %>
        </p>
      </div>
    </div>
    <div class="timeline_middle">
      <div class="timeline_point_parent">
        <div class="timeline_point"></div>
      </div>
    </div>
    <div class="timeline_component">
      <div class="timeline_right">
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1738091218/IMG_20210116_182352_szntfh.jpg') %>
      </div>
    </div>
    <div class="timeline_component">
      <div class="timeline_left">
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1745158230/913_xjogtx.jpg') %>
      </div>
    </div>
    <div class="timeline_middle">
      <div class="timeline_point_parent">
        <div class="timeline_point"></div>
      </div>
    </div>
    <div class="timeline_component">
      <div class="timeline_right timeline_text">
        <p>
          <%= t 'story.timeline_move_in' %>
        </p>
      </div>
    </div>
    <div class="timeline_component">
      <div class="timeline_left timeline_text">
        <p>
          <%= t 'story.timeline_proposed' %>
        </p>
      </div>
    </div>
    <div class="timeline_middle">
      <div class="timeline_point_parent">
        <div class="timeline_point"></div>
      </div>
    </div>
    <div class="timeline_component">
      <div class="timeline_right">
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1744100352/Image_ubwrb6.png') %>
      </div>
    </div>
    <div class="timeline_component">
      <div class="timeline_left">
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1738091358/1000011830_ycknnr.jpg') %>
      </div>
    </div>
    <div class="timeline_middle">
      <div class="timeline_point_parent">
        <div class="timeline_point"></div>
      </div>
    </div>
    <div class="timeline_component">
      <div class="timeline_right timeline_text">
        <p>
          <%= t 'story.timeline_next_chapter' %>
        </p>
      </div>
    </div>
  </div>
<% end %>