<%= render partial: 'leader' %>
<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <%= render partial: 'rsvp_nav', locals: { active: 3 } %>

      <h2><%= t('rsvp.confirm_title') %></h2>

      <%= form_with(model: @guest, url: complete_guest_path(@guest), local: true) do |form| %>
      <div class="row">
        <div class="col-md-12">
          <%= errors_for(@guest) %>
        </div>
      </div>

      <% if @guest.attending? %>
      <h3><%= t('rsvp.confirm_details') %></h3>
      <div class="card mb-3">
        <h5 class="card-header"><%= @guest.name %></h5>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              Email
            </div>
            <div class="col-md-8">
              <p><tt><%= @guest.email %></tt></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <%= t('rsvp.about_you_updates') %>
            </div>
            <div class="col-md-8">
              <p><%= @guest.email_updates ? t('rsvp.yes') : t('rsvp.no') %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <%= t('rsvp.about_you_address') %>
            </div>
            <div class="col-md-8">
              <% if @guest.address_street.present? && @guest.address_number.present? && @guest.address_city.present? %>
                <pre><%= @guest.address_street %> <%= @guest.address_number %></pre>
                <pre><%= @guest.address_city %> <%= @guest.address_zip %></pre>
                <pre><%= @guest.address_province %> <%= @guest.address_country %></pre>
              <% else %>
                <p>(<%= t('rsvp.none') %>)</p>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <%= t('rsvp.about_you_diet') %>
            </div>
            <div class="col-md-8">
              <% if @guest.diet.present? %>
                <pre><%= @guest.diet %></pre>
              <% else %>
                <p>(<%= t('rsvp.none') %>)</p>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <%= t('rsvp.about_you_songs') %>
            </div>
            <div class="col-md-8">
              <% if @guest.songs.present? %>
                <pre><%= @guest.songs %></pre>
              <% else %>
                <p>(<%= t('rsvp.none') %>)</p>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-right">
              <%= link_to t('rsvp.edit'), guest_path(@guest), class: 'card-link', data: { disable_with: t('rsvp.loading') } %>
            </div>
          </div>
        </div>
      </div>

      <h3><%= t('rsvp.plus_ones_title') %></h3>
      <% if @guest.plus_ones.any? %>
        <%= render @guest.plus_ones %>
      <% else %>
        <p>(<%= t('rsvp.none') %> &mdash; <%= t('rsvp.confirm_just_you') %>)</p>
      <% end %>
      <% else %>
      <p><%= t('rsvp.confirm_not_joining') %></p>
      <h3><%= t('rsvp.confirm_details') %></h3>
      <div class="card mb-3">
        <h5 class="card-header"><%= @guest.name %></h5>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              Email
            </div>
            <div class="col-md-8">
              <p><tt><%= @guest.email %></tt></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>

      <h3><%= t('rsvp.confirm_other_comments') %></h3>

      <%= form.text_area :notes, class: 'form-control' %>
      <small class="form-text text-muted"><%= t('rsvp.confirm_anything_else') %></small>

      <div class="row guests-buttons">
        <div class="offset-md-3 col-md-6 text-center">
          <%= form.submit t('rsvp.confirm_complete'), class: 'btn btn-primary', data: { disable_with: t('rsvp.sending') } %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
