<p><%= @guest.email_safe_salutation %></p>

<% if @guest.attending %>
  <p>We look forward to seeing you on <%= t :wedding_date %>!</p>
  <p>The location of the church is:</p>
  <address><%= render partial: 'application/wedding_address_church' %></address>
  <p>The location of the venue is:</p>
  <address><%= render partial: 'application/wedding_address_venue' %></address>

  <h3>Your RSVP</h3>
  <p>You can always go back to the website and edit your RSVP.</p>

  <h3>Questions and answers</h3>
  <p>Please check <%= link_to 'our wedding website', root_url %> for more information, or you can reply to this email.</p>
<% else %>
  <p>We're sorry to hear you can't make it. If you change your mind, you can go back to the website update your RSVP.</p>
  <p>We hope to see you another time!</p>
<% end %>

<p>&nbsp;</p>
<p><%= t :wedding_couple_names %></p>
<%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742158268/PHOTO-2025-03-11-21-29-44_3_wn7ctl.jpg', height: '200px') %>
