<p><%= t 'email.hello' %>,</p>

<% if @guest.attending %>
  <p><%= @guest.first_name %> <%= @guest.last_name %> <%=  t 'email.admin_attending' %></p>
<% else %>
  <p><%= @guest.first_name %> <%= @guest.last_name %> <%=  t 'email.admin_not_attending' %></p>
<% end %>

<% if @guest.notes.present? %>
  <p><%=  t 'email.admin_left_message' %></p>
  <blockquote> <%= @guest.notes %></blockquote>
<% end %>

<p>&nbsp;</p>
<p class="jessandsebi"><%= t :wedding_couple_names %></p>
<%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742158268/PHOTO-2025-03-11-21-29-44_3_wn7ctl.jpg', height: '200px') %>
