<p><%= @guest.email_safe_salutation %></p>

<% if @guest.attending %>
  <p><%= t 'email.guest_attending_look_forward', wedding_date: t(:wedding_date) %></p>
  <table style="width: calc(100%); max-width: 960px;">
    <tr>
      <td style="text-align: center; width:50%;">
        <%= link_to t('church_maps_url'), target: :_blank do -%>
          <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742137817/church_sbezya.png', height: '100px', class: 'img-when-where') %>
        <%- end %>
        <p>
          <%= render partial: 'application/wedding_address_church' %>
        </p>
        <p>
          <%= link_to 'Google Maps', t('church_maps_url'), target: :_blank %>
        </p>
      </td>
      <td style="text-align: center; width:50%; ">
        <%= link_to t('venue_maps_url'), target: :_blank do -%>
          <%# <%= render partial: 'map_marker_svg' %>
          <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742139128/wine_hkj4ix.png', height: '100px', class: 'img-when-where') %>
        <%- end %>
        <p>
          <%= render partial: 'application/wedding_address_venue' %>
        </p>
        <p>
          <%= link_to 'Google Maps', t('venue_maps_url'), target: :_blank %>
        </p>
      </td>
    </tr>
  </table>
  <p><%= t('email.guest_attending_church_time_not_confirmed').html_safe %></p>

  <h3><%= t 'email.guest_attending_rsvp_title' %></h3>
  <p><%= t 'email.guest_attending_rsvp_edit' %></p>

  <h3><%= t 'email.guest_attending_questions_title' %></h3>
  <p><%= t('email.guest_attending_questions_body', wedding_website: link_to(t('email.guest_attending_wedding_website'), root_url)).html_safe %></p>
<% else %>
  <p><%= t 'email.guest_not_attending_sorry' %></p>
  <p><%= t 'email.guest_not_attending_hope' %></p>
<% end %>

<p>&nbsp;</p>
<p class="jessandsebi"><%= t :wedding_couple_names %></p>
<%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742158268/PHOTO-2025-03-11-21-29-44_3_wn7ctl.jpg', height: '200px') %>
