<p><%= @guest.email_safe_salutation %></p>

<% if @guest.attending %>
  <p><%= t 'email.guest_attending_look_forward', wedding_date: t(:wedding_date) %></p>
  <p><%= t 'email.guest_attending_church_location' %></p>
  <address><%= render partial: 'application/wedding_address_church' %></address>
  <p><%= t('email.guest_attending_church_time_not_confirmed').html_safe %></p>
  <p><%= t 'email.guest_attending_venue_location' %></p>
  <address><%= render partial: 'application/wedding_address_venue' %></address>

  <h3><%= t 'email.guest_attending_rsvp_title' %></h3>
  <p><%= t 'email.guest_attending_rsvp_edit' %></p>

  <h3><%= t 'email.guest_attending_questions_title' %></h3>
  <p><%= t('email.guest_attending_questions_body', wedding_website: link_to(t('email.guest_attending_wedding_website'), root_url)).html_safe %></p>
<% else %>
  <p><%= t 'email.guest_not_attending_sorry' %></p>
  <p><%= t 'email.guest_not_attending_hope' %></p>
<% end %>

<p>&nbsp;</p>
<p class="jessandsebi"><%= t :wedding_couple_names %></p>
<%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742158268/PHOTO-2025-03-11-21-29-44_3_wn7ctl.jpg', height: '200px') %>
