<section id="travel-index-leader" class="jumbotron text-center">
  <div class="container">
    <h1><%= t 'travel.title' %></h1>
  </div>
</section>

<section class="default-content">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <br><br>
        <p><%= t('travel.intro') %></p>
        <p><%= t('travel.assist', hotel_link: link_to(t('travel.assist_link'), '#hotel-san-jose')).html_safe %></p>

        <h2><%= t('travel.destination_title') %></h2>
        <p><%= t('travel.destination_regions') %></p>
        <dl class="row">
          <dt class="col-4"><%= t('travel.destination_amazon_title') %></dt>
          <dd class="col-8"><%= t('travel.destination_amazon_body') %></dd>

          <dt class="col-4"><%= t('travel.destination_andes_title') %></dt>
          <dd class="col-8"><%= t('travel.destination_andes_body') %></dd>

          <dt class="col-4"><%= t('travel.destination_pacific_title') %></dt>
          <dd class="col-8"><%= t('travel.destination_pacific_body') %></dd>

          <dt class="col-4"><%= t('travel.destination_galapagos_title') %></dt>
          <dd class="col-8"><%= t('travel.destination_galapagos_body') %></dd>
        </dl>
        <p><%= t('travel.language').html_safe %></p>

        <p><%= t('travel.weather').html_safe %></p>

        <p><%= t('travel.mobile_data', airalo_link: link_to('Airalo', 'https://www.airalo.com/ecuador-esim', target: '_blank'), esimdb_link: link_to('esimdb', 'https://esimdb.com/ecuador', target: '_blank')).html_safe %></p>

        <p><%= t('travel.currency').html_safe %></p>

        <p><%= t('travel.tipping').html_safe %></p>

        <h2><%= t('travel.getting_to_ecuador_title') %></h2>
        <p><%= t('travel.getting_to_ecuador_low_season').html_safe %></p>
        <p><%= t('travel.getting_to_ecuador_airport').html_safe %></p>
        <p><%= t('travel.getting_to_ecuador_visa', foreign_affairs_link: link_to(t('travel.getting_to_ecuador_belgian_foreign_affairs'), 'https://diplomatie.belgium.be/nl/landen/ecuador/reizen-naar-ecuador-reisadvies/praktische-info-voor-ecuador', target: '_blank'), galapagos_link: link_to(t('exploring.galapagos_title'), "#{exploring_ecuador_path}#galapagos"), exploring_link: link_to(t('exploring.title'), exploring_ecuador_path)).html_safe %></p>

        <h2 id="travel-health"><%= t 'travel.health_title' %></h2>
        <p><%= t('travel.health_altitude').html_safe %></p>
        <p><%= t('travel.health_vaccinations').html_safe %></p>
        <p><%= t('travel.health_insurance', touring_link: link_to('Touring', 'https://www.touring.be/', target: '_blank')).html_safe %></p>
        <p><%= t('travel.health_food_safety').html_safe %></p>
        <p><%= t('travel.health_dining_out').html_safe %></p>

        <h2 id="travel-safety"><%= t 'travel.safety_title' %></h2>
        <p><%= t('travel.safety_intro').html_safe %></p>
        <dl class="row">
          <dt class="col-sm-4">&#128661; <%= t('travel.safety_transport_title') %></dt>
          <dd class="col-sm-8"><%= t('travel.safety_transport_body') %></dd>

          <dt class="col-sm-4">&#127890; <%= t('travel.safety_valuables_title') %></dt>
          <dd class="col-sm-8"><%= t('travel.safety_valuables_body') %></dd>

          <dt class="col-sm-4">&#127757; <%= t('travel.safety_crowded_places_title') %></dt>
          <dd class="col-sm-8"><%= t('travel.safety_crowded_places_body') %></dd>

          <dt class="col-sm-4">&#10071; <%= t('travel.safety_scams_title') %></dt>
          <dd class="col-sm-8"><%= t('travel.safety_scams_body') %></dd>

          <dt class="col-sm-4">&#127769; <%= t('travel.safety_night_areas_title') %></dt>
          <dd class="col-sm-8"><%= t('travel.safety_night_areas_body') %></dd>

          <dt class="col-sm-4">&#128176; <%= t('travel.safety_cash_title') %></dt>
          <dd class="col-sm-8"><%= t('travel.safety_cash_body') %></dd>

          <dt class="col-sm-4">&#128706; <%= t('travel.safety_documents_title') %></dt>
          <dd class="col-sm-8"><%= t('travel.safety_documents_body') %></dd>

          <dt class="col-sm-4">&#128269; <%= t('travel.safety_register_title') %></dt>
          <dd class="col-sm-8"><%= t('travel.safety_register_body', travellersonline_link: link_to('travellersonline', 'https://travellersonline.diplomatie.be/', target: '_blank')).html_safe %></dd>
        </dl>
        <p><%= t('travel.safety_closing').html_safe %></p>
      </div>
    </div>
  </div>
</section>

<section id="wedding-day-index-leader" class="jumbotron text-center">
  <div class="container">
    <h1><%= t 'travel.wedding_day_title' %></h1>
  </div>
</section>

<section class="default-content">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <br><br>
        <p><%= t('travel.wedding_day_to_plan', plan_link: link_to(t('home.plan_title'), "#{welcome_root_path}#welcome-index-wedding-plan-leader")).html_safe %></p>
        <p><%= t('travel.wedding_day_children').html_safe %></p>

        <h2 id="wedding-day-dress-code"><%= t('travel.dress_code_title') %></h2>
        <p><%= t('travel.dress_code_intro').html_safe %></p>
        <p><%= t('travel.dress_code_palette').html_safe %></p>
        <p><%= t('travel.dress_code_weather').html_safe %></p>
        <p><%= t('travel.dress_code_closing').html_safe %></p>

        <h2 id="wedding-day-where-to-stay"><%= t('travel.where_to_stay_title') %></h2>
        <p><%= t('travel.where_to_stay_intro').html_safe %></p>
        <dl class="row">
          <dt class="col-sm-8 dt-no-bold">
            <p id="hotel-san-jose"><%= t('travel.where_to_stay_hotel', hotel_link: link_to('San José de Puembo', 'https://www.sanjosedepuembo.com/', target: '_blank'), email_link: mail_to('comercial@sanjosedepuembo.com')).html_safe %></p>
          </dt>
          <dd class="col-sm-4">
            <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742411727/BICUBIK_8429-1024x1536_w1seq8.jpg', width: '100%') %>
          </dd>
        </dl>

        <h2 id="wedding-day-church"><%= t :church_name %></h2>
        <p><%= t('travel.church_intro').html_safe %></p>
        <p><%= t('travel.church_confirmation').html_safe %></p>
        <p><%= t('travel.church_timing').html_safe %></p>
        <p>&#128661; <%= t('travel.church_transport').html_safe %></p>
        <p>&#128663; <%= t('travel.church_parking').html_safe %></p>
        <dl class="row">
          <dt class="col-4"><%= t('travel.church_route_floresta_title') %></dt>
          <dd class="col-8"><%= t('travel.church_route_floresta_body') %></dd>

          <dt class="col-4"><%= t('travel.church_route_carolina_title') %></dt>
          <dd class="col-8"><%= t('travel.church_route_carolina_body') %></dd>

          <dt class="col-4"><%= t('travel.church_route_center_title') %></dt>
          <dd class="col-8"><%= t('travel.church_route_center_body') %></dd>

          <dt class="col-4"><%= t('travel.church_route_cumbaya_title') %></dt>
          <dd class="col-8"><%= t('travel.church_route_cumbaya_body') %></dd>
        </dl>
        <p>&#128694; <%= t('travel.church_walking').html_safe %></p>

        <h2 id="wedding-day-venue"><%= t :venue_name %></h2>
        <p><%= t('travel.venue_intro').html_safe %></p>
        <p>&#128656; <%= t('travel.venue_shuttle').html_safe %></p>
        <p>&#128663; <%= t('travel.venue_parking').html_safe %></p>
        <br><br>
      </div>
    </div>
  </div>
</section>