<%
  n_columns = 4
  media_items = [
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760378546/WhatsApp_Image_2025-10-13_at_16.58.24_erylq4.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760378599/WhatsApp_Image_2025-10-13_at_14.50.12_rh97kh.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302544/57764d91-2385-48b3-87eb-76c9cd0f8a71_zdl8vd.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302537/95f545c9-9195-4d2b-be8c-e380e5470847_r8lhxl.jpg", type: :image },

    { url: "https://res.cloudinary.com/dvvdwl8at/video/upload/v1760384648/5e55500e-93ae-42fd-8c2d-76363dabb4c9_cimbpz.mov", type: :video },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302549/bc526323-51d3-4536-9587-682cc03aab5a_nvvjkf.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302538/914ba07b-b1f7-4416-9d0c-d5424a1ed89e_ie4pwd.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302544/023c4ef0-0d7b-457e-ad9d-c28cda2b8f91_lmwytz.jpg", type: :image },

    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302549/ac371fc0-aa45-4ef9-8050-30df69580ab7_i3z1hy.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302538/d4edcde7-2b46-4d3f-ada7-89c7208811fa_h5emzy.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302552/d9b5e8f5-fcca-43eb-b9fe-9f3acf9f4d40_avvb5b.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302538/8323e729-ae60-4ea7-b2ce-0ffe0a807989_gabxip.jpg", type: :image },

    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302538/0b0ed6fa-01cb-428e-970d-5bb2da79b2d5_cmwewl.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302537/0b8bea8f-a906-4c80-85cd-a6941f6f4f1e_inabho.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302549/f337671c-34e1-457c-89ae-ec5cf9103f3d_pcowyq.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302538/94a8d9d9-7a19-4ad9-8480-a481c61a409e_yeo0mz.jpg", type: :image },

    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302532/37e1a3c3-7f9b-45b9-bca7-10553f0fcb3e_vnuphs.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/video/upload/v1760383736/WhatsApp_Video_2025-10-13_at_21.13.57_d6jk0a.mp4", type: :speech },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302545/2f6212fb-859d-4c09-92d7-cbaed8d047a6_mmrdxw.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760385194/WhatsApp_Image_2025-10-11_at_15.49.08_ndiput.jpg", type: :image },

    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302546/cc06b993-0a0f-49e8-82d0-a9fa93007951_rv90lo.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302553/ceb13d55-ebee-4922-9931-c9943e5c36e1_b9qapp.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302552/70095162-f854-4fe1-a1b4-c992853eaec6_teiwqj.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302548/e0ce2241-c255-4fd5-a03d-d8bda55b61d5_oeqjj5.jpg", type: :image },

    { url: "https://res.cloudinary.com/dvvdwl8at/video/upload/v1760383725/WhatsApp_Video_2025-10-13_at_21.14.06_ye2jow.mp4", type: :video },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302548/bf9faa26-48e7-4bc0-8dca-1c3ab3d23d65_wwzgym.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302548/8667eda4-6237-4c53-a02b-b439de390e3a_nuwgw7.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302547/ba8913b4-1d55-4a0c-bceb-e6d4dceabb02_hidxww.jpg", type: :image },

    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302544/dbc93a84-81ad-4d9e-937c-2b87ef65894f_ixxxfh.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760381100/WhatsApp_Image_2025-10-13_at_11.16.55_mscqlz.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302545/328463e5-0658-4b3d-8e0e-ae2a078411f8_rokpyq.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302539/ebe74efe-c904-43b1-89d5-05b6da936104_s1gzqb.jpg", type: :image },

    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302544/face3fdc-fa61-4c07-b3e2-e2aa613b8e5f_yvvxh9.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302543/4abc7b2a-c5d5-4851-a553-beb16017b711_ziwvak.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/video/upload/v1760382429/13156e7f-4ebd-4b43-822a-6d95dd7e72d1_mpkova.mov", type: :video },
    { url: "https://res.cloudinary.com/dvvdwl8at/video/upload/v1760383489/WhatsApp_Video_2025-10-13_at_21.09.53_njrab4.mp4", type: :video },

    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302539/ce159aea-fb3f-4459-bfeb-11024d63bb5f_qrskx2.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302533/251818f0-49ee-45ec-b5db-67f674c06015_mrmkxd.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302540/aa7bb4c8-9f89-4231-b14c-f5860e700411_mfdchc.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760381096/WhatsApp_Image_2025-10-13_at_11.16.56_eltba4.jpg", type: :image },

    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302532/6cd627a4-1b21-4640-80d5-30eac6511a17_wgsoee.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302531/0c3bafc2-d21a-4922-b0a6-83b19bfb2b82_edgwd7.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302532/a4f0cba0-c587-47f3-a3f1-b80383b51557_jdbkuc.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302533/a2982770-f1d0-4a03-b8f3-109ad13ff866_tfe4zv.jpg", type: :image },

    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302533/f43d64da-3a35-45e9-99f6-4ea595eafbcd_mdbp05.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760384300/WhatsApp_Image_2025-10-13_at_21.13.58_luzfho.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302532/680a9277-ed8a-4b4b-bb7d-46b4143a6b5a_hyhbrm.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302532/152f3a71-4fbe-4e48-94a5-25099f919b0e_hxnvvv.jpg", type: :image },

    { url: "https://res.cloudinary.com/dvvdwl8at/video/upload/v1760383747/WhatsApp_Video_2025-10-13_at_21.11.10_fuicne.mp4", type: :video },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760384297/WhatsApp_Image_2025-10-13_at_21.13.58_1_wsyaik.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/video/upload/v1760383742/WhatsApp_Video_2025-10-13_at_21.11.55_hhtf2z.mp4", type: :video },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302532/9a9562e6-486c-45e0-9dd6-2260221948e4_irxwn3.jpg", type: :image },

    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760381606/IMG_7224_j8txit.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760381504/IMG_7229_qu88er.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302554/D0811438-1465-470A-AFB6-222733A55E0E_uxeozn.jpg", type: :image },
    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760302533/a6d8b218-15ab-4f49-bfbd-32bb94f55acc_vomjjn.jpg", type: :image },

    { url: "https://res.cloudinary.com/dvvdwl8at/image/upload/v1760381756/IMG_7235_qu62kw.jpg", type: :image },
  ]

  columns = Array.new(n_columns) { [] }
  media_items.each_with_index { |item, i| columns[i % n_columns] << item }
%>

<section id="photo-index-leader" class="jumbotron text-center">
  <div class="container">
    <h1><%= t 'photo.civil_title' %></h1>
  </div>
</section>

<div class="gallery-row">
  <% columns.each do |column| %>
    <div class="gallery-column">
      <% column.each do |item| %>
        <% case item[:type] %>
        <% when :image %>
          <%= image_tag(item[:url], width: '100%') %>
        <% when :video %>
          <video width="100%" autoplay loop muted playsinline>
            <source src="<%= item[:url] %>" type="video/mp4">
          </video>
        <% when :speech %>
          <div class="gallery-speech-wrapper">
            <video width="100%" autoplay loop muted playsinline controls>
              <source src="<%= item[:url] %>" type="video/mp4">
            </video>
            <span class="gallery-speech-badge">🔊 <%= t 'photo.has_audio' %></span>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
