<section id="welcome-index-fun-facts-leader" class="jumbotron text-center">
  <div class="container">
    <h1><%= t :welcome_fun_facts %></h1>
  </div>
</section>
<section>
  <div class="grid-ish">
    <div class="fun-facts-flip-card">
      <div class="fun-facts-flip-card-inner">
        <div class="fun-facts-flip-card-front">
          <p><%= t :welcome_fun_facts_first_move_q %></p>
        </div>
        <div class="fun-facts-flip-card-back">
          <p><%= t :welcome_fun_facts_first_move_a %></p>
        </div>
      </div>
    </div>
    <div class="fun-facts-flip-card">
      <div class="fun-facts-flip-card-inner">
        <div class="fun-facts-flip-card-front">
          <p><%= t :welcome_fun_facts_first_move_q %></p>
        </div>
        <div class="fun-facts-flip-card-back">
          <p><%= t :welcome_fun_facts_first_move_a %></p>
        </div>
      </div>
    </div>
    <div class="fun-facts-flip-card">
      <div class="fun-facts-flip-card-inner">
        <div class="fun-facts-flip-card-front">
          <p><%= t :welcome_fun_facts_first_move_q %></p>
        </div>
        <div class="fun-facts-flip-card-back">
          <p><%= t :welcome_fun_facts_first_move_a %></p>
        </div>
      </div>
    </div>
    <div class="fun-facts-flip-card">
      <div class="fun-facts-flip-card-inner">
        <div class="fun-facts-flip-card-front">
          <p><%= t :welcome_fun_facts_first_move_q %></p>
        </div>
        <div class="fun-facts-flip-card-back">
          <p><%= t :welcome_fun_facts_first_move_a %></p>
        </div>
      </div>
    </div>
    <div class="fun-facts-flip-card">
      <div class="fun-facts-flip-card-inner">
        <div class="fun-facts-flip-card-front">
          <p><%= t :welcome_fun_facts_first_move_q %></p>
        </div>
        <div class="fun-facts-flip-card-back">
          <p><%= t :welcome_fun_facts_first_move_a %></p>
        </div>
      </div>
    </div>
    <div class="fun-facts-flip-card">
      <div class="fun-facts-flip-card-inner">
        <div class="fun-facts-flip-card-front">
          <p><%= t :welcome_fun_facts_first_move_q %></p>
        </div>
        <div class="fun-facts-flip-card-back">
          <p><%= t :welcome_fun_facts_first_move_a %></p>
        </div>
      </div>
    </div>
  </div>
</section>
