<section id="welcome-index-leader" class="jumbotron text-center">
  <div class="container">
    <div class="title-box">
      <p class="top-text">
        <%= t :welcome_getting_married %>
      </p>
      <h1 class="jumbotron-heading"><%= t :wedding_couple_names %></h1>
      <p class="date-text">
        <%= t :wedding_date %>, <%= t :wedding_country %>
      </p>
      <p>
        <%= link_to t(:confirm_your_presence), new_guest_path, class: 'btn btn-primary wedding-cta-btn' %>
      </p>
    </div>
  </div>
</section>
