<section id="welcome-index-wedding-plan-leader" class="jumbotron text-center">
  <div class="container">
    <h1><%= t 'home.plan_title' %></h1>
  </div>
</section>
<section class="default-content">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <br><br>
        <p><%= t('home.plan_to_wedding_day', travel_href: link_to(t('travel.title'), travel_and_stay_path), wedding_day_href: link_to(t('travel.wedding_day_title'), "#{travel_and_stay_path}#wedding-day-index-leader")).html_safe %></p>

        <h2><%= t('home.plan_order_title') %></h2>
        <p style="letter-spacing: 0.0833333em;"><%= t :church_name %> &#9962;</p>
        <dl class="row">
          <dt class="col-2"><%= t('home.plan_order_arrive_time') %></dt>
          <dd class="col-10"><%= t('home.plan_order_arrive_body') %></dd>

          <dt class="col-2"><%= t('home.plan_order_ceremony_time') %></dt>
          <dd class="col-10"><%= t('home.plan_order_ceremony_body') %></dd>

          <dt class="col-2"><%= t('home.plan_order_exit_time') %></dt>
          <dd class="col-10"><%= t('home.plan_order_exit_body') %></dd>
        </dl>

        <p style="letter-spacing: 0.0833333em;"><%= t :venue_name %> &#129346;</p>
        <dl class="row">
          <dt class="col-2"><%= t('home.plan_order_cocktail_time') %></dt>
          <dd class="col-10"><%= t('home.plan_order_cocktail_body') %></dd>

          <dt class="col-2"><%= t('home.plan_order_dinner_time') %></dt>
          <dd class="col-10"><%= t('home.plan_order_dinner_body') %></dd>

          <dt class="col-2"><%= t('home.plan_order_bar_open_time') %></dt>
          <dd class="col-10"><%= t('home.plan_order_bar_open_body') %></dd>

          <dt class="col-2"><%= t('home.plan_order_cake_time') %></dt>
          <dd class="col-10"><%= t('home.plan_order_cake_body') %></dd>

          <dt class="col-2"><%= t('home.plan_order_reanimador_time') %></dt>
          <dd class="col-10"><%= t('home.plan_order_reanimador_body') %></dd>

          <dt class="col-2"><%= t('home.plan_order_bar_close_time') %></dt>
          <dd class="col-10"><%= t('home.plan_order_bar_close_body') %></dd>
        </dl>

        <div class="wedding-menu">
          <h2><%= t('home.plan_menu_title') %></h2>

          <p class="menu-section">• <%= t('home.plan_menu_starter_title') %> •</p>
          <p><%= t('home.plan_menu_starter_body').html_safe %></p>

          <p class="menu-section">• <%= t('home.plan_menu_second_title') %> •</p>
          <p><%= t('home.plan_menu_second_body').html_safe %></p>

          <p class="menu-section">• <%= t('home.plan_menu_main_title') %> •</p>
          <p><%= t('home.plan_menu_main_body').html_safe %></p>

          <p class="menu-section">• <%= t('home.plan_menu_dessert_title') %> •</p>
          <p><%= t('home.plan_menu_dessert_body').html_safe %></p>

          <p class="menu-section">• <%= t('home.plan_menu_kids_title') %> •</p>
          <p>
            <%= t('home.plan_menu_kids_body').html_safe %>
          </p>

          <p class="menu-note">
            <%= t('home.plan_menu_note', rsvp_link: link_to('RSVP', new_guest_path)).html_safe %>
          </p>
        </div>

        <h2><%= t('home.plan_gifts_and_cards_title') %></h2>
        <p><%= t('home.plan_gifts_and_cards_body') %></p>
        <p class="account-info">BE15 0020 0893 1230</p>

        <h2><%= t('home.plan_rsvp_title') %></h2>
        <p><%= t('home.plan_rsvp_body').html_safe %></p>
      </div>
    </div>
  </div>
</section>
