<section id="welcome-index-story-leader" class="jumbotron text-center">
  <div class="container">
    <h1><%= t :welcome_our_story %></h1>
  </div>
</section>
<section class="default-content">
  <div class="container">
    <div class="story-flex-container">
      <div class="story-flex-container-text">
        <p><%= t :welcome_story_intro %></p>
      </div>
      <div class="story-flex-container-image">
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1737920704/WhatsApp_Image_2025-01-26_at_18.31.53_dqvp1u.jpg', width: '100%', crop: :fill) %>
      </div>
    </div>
    <div class="story-flex-container">
      <div class="story-flex-container-image">
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1738074794/IMG_20211031_140356091_akqesa.jpg', width: '100%', crop: :fill) %>
      </div>
      <div class="story-flex-container-text">
        <p><%= t :welcome_story_jess %></p>
      </div>
    </div>
    <div class="row">
      <p><%= t :welcome_story_sebi %></p>
      <p><%= t :welcome_story_click %></p>
      <p><%= t :welcome_story_move_in %></p>
      <p><%= t :welcome_story_proposed %></p>
      <p><%= t :welcome_story_next_chapter %></p>
    </div>
  </div>
</section>
