<section id="welcome-index-venue-leader" class="jumbotron text-center">
  <div class="container">
    <h1><%= t :welcome_our_story %></h1>
  </div>
</section>
<section class="default-content">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <p><%= t :welcome_story_intro %></p>
        <p><%= t :welcome_story_jess %></p>
        <p><%= t :welcome_story_sebi %></p>
        <p><%= t :welcome_story_click %></p>
        <p><%= t :welcome_story_move_in %></p>
        <p><%= t :welcome_story_proposed %></p>
        <p><%= t :welcome_story_next_chapter %></p>
      </div>
    </div>
  </div>
</section>
