<section id="welcome-index-when-where">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1><%= t :welcome_save_the_date %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <%= link_to 'wedding.ics' do -%>
          <%= render partial: 'calendar_svg' %>
        <%- end %>
        <p>
          <strong><%= t :wedding_reception_time %></strong><br>
          <%= t :wedding_date %><br>
          &nbsp;<br>
        </p>
        <p><%= link_to t(:wedding_add_to_calendar), 'wedding.ics' %></p>
      </div>
      <div class="col-md-6 text-center">
        <%= link_to @google_maps_url, target: :_blank do -%>
          <%= render partial: 'map_marker_svg' %>
        <%- end %>
        <p>
          <%= render partial: 'wedding_address' %>
        </p>
        <p>
          <%= link_to 'Google Maps', @google_maps_url, target: :_blank %>
        </p>
      </div>
    </div>
  </div>
</section>
