<section id="welcome-index-when-where">
  <div class="container">
    <%#
      <div class="row justify-content-center">
        <div class="col-md-6 text-center">
          <script src="https://cdn.logwork.com/widget/countdown.js"></script>
          <a href="https://logwork.com/countdown-timer" class="countdown-timer" data-style="columns" data-timezone="America/Guayaquil" data-language="es" data-textcolor="#ffffff" data-date="2026-02-07 15:00" data-background="#ffffff" data-digitscolor="#000000" data-unitscolor="#c2c2c2">Wedding Countdown</a>
          <a href="https://logwork.com/countdown-5w5z" class="countdown-timer" data-style="circles" data-date="2026-02-07 14:00">x</a>
        </div>
      </div>
    %>
    <div class="row">
      <div class="col-md-12 text-center">
        <h1><%= t 'home.save_the_date_title' %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <%= link_to 'wedding.ics' do -%>
          <%# <%= render partial: 'calendar_svg' %>
          <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742139131/calendar_io4yjj.png', height: '100px', class: 'img-when-where') %>
        <%- end %>
        <p>
          <strong><%= t :wedding_reception_time %></strong><br>
          <%= t :wedding_date %><br>
          &nbsp;<br>
        </p>
        <p><%= link_to t('home.save_the_date_add_to_calendar'), 'wedding.ics' %></p>
      </div>
      <div class="col-md-4 text-center">
        <%= link_to t('church_maps_url'), target: :_blank do -%>
          <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742137817/church_sbezya.png', height: '100px', class: 'img-when-where') %>
        <%- end %>
        <p>
          <%= render partial: 'wedding_address_church' %>
        </p>
        <p>
          <%= link_to 'Google Maps', t('church_maps_url'), target: :_blank %>
        </p>
      </div>
      <div class="col-md-4 text-center">
        <%= link_to t('venue_maps_url'), target: :_blank do -%>
          <%# <%= render partial: 'map_marker_svg' %>
          <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742139128/wine_hkj4ix.png', height: '100px', class: 'img-when-where') %>
        <%- end %>
        <p>
          <%= render partial: 'wedding_address_venue' %>
        </p>
        <p>
          <%= link_to 'Google Maps', t('venue_maps_url'), target: :_blank %>
        </p>
      </div>
    </div>
  </div>
</section>
