<main role="main">
  <%= render partial: 'jumbo' %>
  <%= render partial: 'when_where' %>
  <%= render partial: 'story' %>
  <%= render partial: 'fun_facts' %>
  <%= render partial: 'plan' %>
</main>
<%= render partial: 'footer' %>
