<div class="card mb-3">
  <h5 class="card-header"><%= plus_one.name %></h5>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <%= t('rsvp.about_you_diet') %>
      </div>
      <div class="col-md-8">
        <% if plus_one.diet.present? %>
          <pre><%= plus_one.diet %></pre>
        <% else %>
          <p>(<%= t('rsvp.none') %>)</p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= t('rsvp.plus_ones_child') %>
      </div>
      <div class="col-md-8">
        <p><%= plus_one.child? ? t('rsvp.yes') : t('rsvp.no') %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-right">
        <%= link_to t('rsvp.edit'), edit_guest_plus_one_path(plus_one.guest, plus_one), class: 'card-link', data: { disable_with: t('rsvp.loading') } %>
        <%= link_to t('rsvp.remove'), guest_plus_one_path(plus_one.guest, plus_one), method: :delete, class: 'card-link', data: { disable_with: t('rsvp.removing'), confirm: t('rsvp.sure') } %>
      </div>
    </div>
  </div>
</div>
