<section id="faq-index-leader" class="jumbotron text-center">
  <div class="container">
    <h1><%= t(:faq) %></h1>
  </div>
</section>

<div class="container faq-container">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <div class="accordion" id="accordionFaq">

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCantMakeIt" aria-expanded="false" aria-controls="collapseCantMakeIt">
            What should I do if I can't make it?
          </button>
          <div id="collapseCantMakeIt" class="accordion-collapse collapse" aria-labelledby="headingCantMakeIt" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                Your presence will surely be missed. If you cannot attend, please let us know through the <%= link_to 'RSVP', new_guest_path %> by selecting <strong>No</strong> for the question <em>Will you be joining us?</em>. You can still change your mind before September 1<sup>st</sup>, by updating your <%= link_to 'RSVP', new_guest_path %> (using the same email address).
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRsvpTime" aria-expanded="false" aria-controls="collapseRsvpTime">
            What if I don't RSVP in time?
          </button>
          <div id="collapseRsvpTime" class="accordion-collapse collapse" aria-labelledby="headingRsvpTime" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                If you don't <%= link_to 'RSVP', new_guest_path %> by September 1<sup>st</sup>, we’ll assume you’re <em>not attending</em>. Unfortunately, we won’t be able to accommodate late confirmations after this date.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePersonalData" aria-expanded="false" aria-controls="collapsePersonalData">
            Will my personal data be shared with third parties?
          </button>
          <div id="collapsePersonalData" class="accordion-collapse collapse" aria-labelledby="headingPersonalData" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                Nope! We built our own wedding website and host our own database in Amsterdam. Only we and our wedding planner have access to your information, and it won’t be shared with anyone else.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseChildrenPets" aria-expanded="false" aria-controls="collapseChildrenPets">
            Are kids allowed? What about pets?
          </button>
          <div id="collapseChildrenPets" class="accordion-collapse collapse" aria-labelledby="headingChildrenPets" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p><%= t(:wedding_day_children).html_safe %></p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVegan" aria-expanded="false" aria-controls="collapseVegan">
            Will there be vegetarian/vegan meals? Will my food allergies be taken into account?
          </button>
          <div id="collapseVegan" class="accordion-collapse collapse" aria-labelledby="headingVegan" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                We’ll do our best to accommodate your dietary lifestyle and any food allergies by offering meal variations. Please let us know your needs when you <%= link_to 'RSVP', new_guest_path %>, and we’ll make the necessary arrangements!
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGift" aria-expanded="false" aria-controls="collapseGift">
            Should we bring a gift?
          </button>
          <div id="collapseGift" class="accordion-collapse collapse" aria-labelledby="headingGift" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p><%= t :welcome_gifts_and_cards_body %></p>
              <p class="account-info">BE26 0016 1911 7229</p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDressCode" aria-expanded="false" aria-controls="collapseDressCode">
            Is there a dress code?
          </button>
          <div id="collapseDressCode" class="accordion-collapse collapse" aria-labelledby="headingDressCode" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                Our dress code is cocktail/semi-formal, but what matters most is your comfort. For more information, go to the <%= link_to(t(:wedding_day_dress_code_title), "#{travel_and_stay_path}#wedding-day-dress-code") %> section on our <%= link_to(t(:travel_title), travel_and_stay_path) %> page.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTransport" aria-expanded="false" aria-controls="collapseTransport">
            Dou you have any recommendations for transport to/from the venue/church? 
          </button>
          <div id="collapseTransport" class="accordion-collapse collapse" aria-labelledby="headingTransport" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                Yes! We're planning to provide a shuttle to go from the church to the venue. For more information on getting to the church, go to the <%= link_to(t(:church_name), "#{travel_and_stay_path}#wedding-day-church") %> section on our <%= link_to(t(:travel_title), travel_and_stay_path) %> page. For more information on getting to the venue, go to the <%= link_to(t(:venue_name), "#{travel_and_stay_path}#wedding-day-venue") %> section on the same page.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHotels" aria-expanded="false" aria-controls="collapseHotels">
            Dou you have any recommendations for hotels situated near the venue?
          </button>
          <div id="collapseHotels" class="accordion-collapse collapse" aria-labelledby="headingHotels" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                Yes, find out more on the <%= link_to(t(:wedding_day_where_to_stay_title), "#{travel_and_stay_path}#wedding-day-where-to-stay") %> section on our <%= link_to(t(:travel_title), travel_and_stay_path) %> page.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePictures" aria-expanded="false" aria-controls="collapsePictures">
            Can I upload pictures I took during the wedding?
          </button>
          <div id="collapsePictures" class="accordion-collapse collapse" aria-labelledby="headingPictures" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                We’d like everyone to be fully present and enjoy the moment, so we kindly ask that you refrain from taking pictures during the ceremony. We’ve hired a professional photographer, and we’ll share the wedding photos on this website after our honeymoon. That being said, if you couldn’t resist taking a few shots, we’d be happy if you shared them with us!
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePlanTrip" aria-expanded="false" aria-controls="collapsePlanTrip">
            Any tips for planning our trip to Ecuador?
          </button>
          <div id="collapsePlanTrip" class="accordion-collapse collapse" aria-labelledby="headingPlanTrip" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                Absolutely! For all the practical details, check out our  <%= link_to(t(:travel_title), travel_and_stay_path) %> page. If you’re looking for inspiration on things to do and places to visit, head over to our <%= link_to(t(:exploring_title), exploring_ecuador_path) %> page. Happy planning!
              </p>
              <p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSafety" aria-expanded="false" aria-controls="collapseSafety">
            Is it safe to travel to Ecuador?
          </button>
          <div id="collapseSafety" class="accordion-collapse collapse" aria-labelledby="headingSafety" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                Like any travel destination, Ecuador requires some basic precautions, but it’s a wonderful place to visit! For tips on staying safe, check out the <%= link_to(t(:travel_safety_title), "#{travel_and_stay_path}#travel-safety") %> section on our <%= link_to(t(:travel_title), travel_and_stay_path) %> page.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVaccines" aria-expanded="false" aria-controls="collapseVaccines">
            What vaccines do I need for Ecuador?
          </button>
          <div id="collapseVaccines" class="accordion-collapse collapse" aria-labelledby="headingVaccines" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                The recommended vaccines are <strong>yellow fever</strong>, <strong>hepatitis A</strong>, and <strong>tetanus-diphtheria-pertussis (whooping cough)</strong>. For more details, check out the <%= link_to(t(:travel_health_title), "#{travel_and_stay_path}#travel-health") %> section on our <%= link_to(t(:travel_title), travel_and_stay_path) %> page.
              </p>
            </div>
          </div>
        </div>

        <br><br>
      </div>
    </div>
  </div>
</div>