<section id="faq-index-leader" class="jumbotron text-center">
  <div class="container">
    <h1><%= t('faq.title') %></h1>
  </div>
</section>

<div class="container faq-container">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <div class="accordion" id="accordionFaq">

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNoInvitation" aria-expanded="false" aria-controls="collapseNoInvitation">
            <%= t('faq.no_invitation_title') %>
          </button>
          <div id="collapseNoInvitation" class="accordion-collapse collapse" aria-labelledby="headingNoInvitation" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p><%= t('faq.no_invitation_body', rsvp_link: link_to('RSVP', new_guest_path)).html_safe %></p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCantMakeIt" aria-expanded="false" aria-controls="collapseCantMakeIt">
            <%= t('faq.cant_make_it_title') %>
          </button>
          <div id="collapseCantMakeIt" class="accordion-collapse collapse" aria-labelledby="headingCantMakeIt" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p><%= t('faq.cant_make_it_body', rsvp_link: link_to('RSVP', new_guest_path)).html_safe %></p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRsvpTime" aria-expanded="false" aria-controls="collapseRsvpTime">
            <%= t('faq.rsvp_time_title') %>
          </button>
          <div id="collapseRsvpTime" class="accordion-collapse collapse" aria-labelledby="headingRsvpTime" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p><%= t('faq.rsvp_time_body', rsvp_link: link_to('RSVP', new_guest_path)).html_safe %></p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePersonalData" aria-expanded="false" aria-controls="collapsePersonalData">
            <%= t('faq.personal_data_title') %>
          </button>
          <div id="collapsePersonalData" class="accordion-collapse collapse" aria-labelledby="headingPersonalData" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p><%= t('faq.personal_data_body') %></p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseChildrenPets" aria-expanded="false" aria-controls="collapseChildrenPets">
            <%= t('faq.children_pets_title') %>
          </button>
          <div id="collapseChildrenPets" class="accordion-collapse collapse" aria-labelledby="headingChildrenPets" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p><%= t(:wedding_day_children).html_safe %></p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVegan" aria-expanded="false" aria-controls="collapseVegan">
            <%= t('faq.vegan_title') %>
          </button>
          <div id="collapseVegan" class="accordion-collapse collapse" aria-labelledby="headingVegan" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p><%= t('faq.vegan_body', rsvp_link: link_to('RSVP', new_guest_path)).html_safe %></p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGift" aria-expanded="false" aria-controls="collapseGift">
            <%= t('faq.gift_title') %>
          </button>
          <div id="collapseGift" class="accordion-collapse collapse" aria-labelledby="headingGift" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p><%= t :welcome_gifts_and_cards_body %></p>
              <p class="account-info">BE26 0016 1911 7229</p>
              <p class="account-info">Sébastien Hoorens &mdash; GEBABEBB (BNP Paribas Fortis)</p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDressCode" aria-expanded="false" aria-controls="collapseDressCode">
            <%= t('faq.dress_code_title') %>
          </button>
          <div id="collapseDressCode" class="accordion-collapse collapse" aria-labelledby="headingDressCode" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p><%= t('faq.dress_code_body', dress_code_link: link_to(t(:wedding_day_dress_code_title), "#{travel_and_stay_path}#wedding-day-dress-code"), travel_link: link_to(t(:travel_title), travel_and_stay_path)).html_safe %></p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTransport" aria-expanded="false" aria-controls="collapseTransport">
            <%= t('faq.transport_title') %>
          </button>
          <div id="collapseTransport" class="accordion-collapse collapse" aria-labelledby="headingTransport" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p><%= t('faq.transport_body', church_link: link_to(t(:church_name), "#{travel_and_stay_path}#wedding-day-church"), venue_link: link_to(t(:venue_name), "#{travel_and_stay_path}#wedding-day-venue"), travel_link: link_to(t(:travel_title), travel_and_stay_path)).html_safe %></p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHotels" aria-expanded="false" aria-controls="collapseHotels">
            <%= t('faq.hotels_title') %>
          </button>
          <div id="collapseHotels" class="accordion-collapse collapse" aria-labelledby="headingHotels" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p><%= t('faq.hotels_body', where_to_stay_link: link_to(t(:wedding_day_where_to_stay_title), "#{travel_and_stay_path}#wedding-day-where-to-stay"), travel_link: link_to(t(:travel_title), travel_and_stay_path)).html_safe %></p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePictures" aria-expanded="false" aria-controls="collapsePictures">
            <%= t('faq.pictures_title') %>
          </button>
          <div id="collapsePictures" class="accordion-collapse collapse" aria-labelledby="headingPictures" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p><%= t('faq.pictures_body_ceremony').html_safe %></p>
              <p><%= t('faq.pictures_body_reception').html_safe %></p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePlanTrip" aria-expanded="false" aria-controls="collapsePlanTrip">
            <%= t('faq.plan_trip_title') %>
          </button>
          <div id="collapsePlanTrip" class="accordion-collapse collapse" aria-labelledby="headingPlanTrip" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p><%= t('faq.plan_trip_body', travel_link: link_to(t(:travel_title), travel_and_stay_path), exploring_link: link_to(t(:exploring_title), exploring_ecuador_path)).html_safe %></p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSafety" aria-expanded="false" aria-controls="collapseSafety">
            <%= t('faq.safety_title') %>
          </button>
          <div id="collapseSafety" class="accordion-collapse collapse" aria-labelledby="headingSafety" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p><%= t('faq.safety_body', travel_safety_link: link_to(t(:travel_safety_title), "#{travel_and_stay_path}#travel-safety"), travel_link: link_to(t(:travel_title), travel_and_stay_path)).html_safe %></p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVaccines" aria-expanded="false" aria-controls="collapseVaccines">
            <%= t('faq.vaccines_title') %>
          </button>
          <div id="collapseVaccines" class="accordion-collapse collapse" aria-labelledby="headingVaccines" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p><%= t('faq.vaccines_body', travel_health_link: link_to(t(:travel_health_title), "#{travel_and_stay_path}#travel-health"), travel_link: link_to(t(:travel_title), travel_and_stay_path)).html_safe %></p>
            </div>
          </div>
        </div>

        <br><br>
      </div>
    </div>
  </div>
</div>