<section id="exploring-index-leader" class="jumbotron text-center">
  <div class="container">
    <h1><%= t 'exploring.title' %></h1>
  </div>
</section>

<section class="default-content">
  <div class="container">
    <div class="story-flex-container">
      <div>
        <h3><%= t 'exploring.quito_title' %></h3>
        <p><%= t('exploring.quito_body_intro').html_safe %></p>
        <p><%= t('exploring.quito_body_center').html_safe %></p>
        <p><%= t('exploring.quito_body_hikes').html_safe %></p>
        <p><%= t('exploring.quito_body_mitad_del_mundo').html_safe %></p>
        <p><%= t('exploring.quito_body_stay').html_safe %></p>
      </div>
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742582913/quito-cotopaxi-ecuador-land_eaz3hq.webp', class: 'story-flex-image') %>
        <br>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1743949880/Teleferico-ride-Quito_icgikm.jpg', class: 'story-flex-image') %>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742583721/464567819_8267470106691472_7707320191615684620_n_eyxqxp.jpg', class: 'story-flex-image') %>
      </div>
      <div>
        <h3><%= t 'exploring.otavalo_title' %></h3>
        <p><%= t('exploring.otavalo_body_market').html_safe %></p>
        <p><%= t('exploring.otavalo_body_lagoon').html_safe %></p>
        <p><%= t('exploring.otavalo_body_waterfall').html_safe %></p>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <h3><%= t 'exploring.cotopaxi_title' %></h3>
        <p><%= t('exploring.cotopaxi_body_intro').html_safe %></p>
        <p><%= t('exploring.cotopaxi_body_chimborazo').html_safe %></p>
      </div>
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742584775/Cotopaxi_with_horses_view_trek_jp5kde.webp', class: 'story-flex-image') %>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1741544283/landscape-e1467643435868_yfd3p6.jpg', class: 'story-flex-image') %>
      </div>
      <div>
        <h3><%= t 'exploring.mindo_title' %></h3>
        <p><%= t('exploring.mindo_body_intro').html_safe %></p>
        <p><%= t('exploring.mindo_body_activities').html_safe %></p>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <h3><%= t 'exploring.quilotoa_title' %></h3>
        <p><%= t('exploring.quilotoa_body').html_safe %></p>
      </div>
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742760401/quilotoa-crater-lake_wq1sxw.jpg', class: 'story-flex-image') %>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742759481/cuenca-ecuador-27-dsc_6476_aagxsc.jpg', class: 'story-flex-image') %>
        <br>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1744121446/temple_v0svz4.jpg', class: 'story-flex-image') %>
      </div>
      <div>
        <h3><%= t 'exploring.cuenca_title' %></h3>
        <p><%= t('exploring.cuenca_body_intro').html_safe %></p>
        <p><%= t('exploring.cuenca_body_activities').html_safe %></p>
        <p><%= t('exploring.cuenca_body_food').html_safe %></p>
        <p><%= t('exploring.cuenca_body_facts').html_safe %></p>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <h3><%= t 'exploring.banos_title' %></h3>
        <p><%= t('exploring.banos_body_intro').html_safe %></p>
        <p><%= t('exploring.banos_body_cascadas').html_safe %></p>
        <p><%= t('exploring.banos_body_hot_springs').html_safe %></p>
      </div>
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742584781/pailon_del_diablo_turismo_ecuador_24_um7vmp.jpg', class: 'story-flex-image') %>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1744018000/AMAZON_lodge_cafmcf.avif', class: 'story-flex-image') %>
        <br>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742759721/IMG_3574_wxxpun.jpg', class: 'story-flex-image') %>
      </div>
      <div>
        <h3><%= t 'exploring.amazon_title' %></h3>
        <p><%= t('exploring.amazon_body_intro').html_safe %></p>
        <p><%= t('exploring.amazon_body_places').html_safe %></p>
        <dl class="row">
          <dt class="col-sm-3"><%= t 'exploring.amazon_cuyabeno_title' %></dt>
          <dd class="col-sm-9"><%= t 'exploring.amazon_cuyabeno_body' %></dd>
          <dt class="col-sm-3"><%= t 'exploring.amazon_tena_title' %></dt>
          <dd class="col-sm-9"><%= t 'exploring.amazon_tena_body' %></dd>
          <dt class="col-sm-3"><%= t 'exploring.amazon_puyo_title' %></dt>
          <dd class="col-sm-9"><%= t 'exploring.amazon_puyo_body' %></dd>
          <dt class="col-sm-3"><%= t 'exploring.amazon_misahualli_title' %></dt>
          <dd class="col-sm-9"><%= t 'exploring.amazon_misahualli_body' %></dd>
        </dl>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <h3><%= t 'exploring.coast_title' %></h3>
        <p><%= t('exploring.coast_body_intro').html_safe %></p>
        <p><%= t('exploring.coast_body_machalilla').html_safe %></p>
        <p><%= t('exploring.coast_body_ayampe').html_safe %></p>
        <p><%= t('exploring.coast_body_cuisine').html_safe %></p>
        <p><%= t('exploring.coast_body_safety').html_safe %></p>
      </div>
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742759481/Coast_los_Frailes_v7ong3.webp', class: 'story-flex-image') %>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742759488/IMG_20211220_172625130_HDR_xhzpzk.jpg', class: 'story-flex-image') %>
      </div>
      <div>
        <h3 id="galapagos"><%= t 'exploring.galapagos_title' %></h3>
        <p><%= t('exploring.galapagos_body_intro').html_safe %></p>
        <p><%= t('exploring.galapagos_body_conservation').html_safe %></p>
        <p><%= t('exploring.galapagos_body_visit').html_safe %></p>
        <p><%= t('exploring.galapagos_body_guide').html_safe %></p>
      </div>
    </div>
  </div>
</section>