<section id="exploring-index-leader" class="jumbotron text-center">
  <div class="container">
    <h1>Exploring Ecuador</h1>
  </div>
</section>

<section class="default-content">
  <div class="container">
    <% if false %>
      <div class="row">
          <p>
            These are some of the many adventures you can embark on during your stay in Ecuador:
          </p>
      </div>
      <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1740073839/9011_dlywjt.jpg', class: 'story-flex-image') %>
    <% end %>
    <div class="story-flex-container">
      <div>
        <h3>Quito</h3>
        <p>Explore Quito, Jess’ hometown, the charming but chaotic (like herself) home to the best-preserved historical center in South America, where colonial churches and rich history await. Visit <em>El Panecillo</em>, where the Virgin of the Apocalypse stands as a protector of the city, unique for her wings, chained serpent, and crescent moon symbolism.</p>
        <p>For a deeper dive into Ecuadorian history and culture, visit <em>Museo de la Ciudad</em> or <em>Casa del Alabado</em>. Stop by <em>Mitad del Mundo</em>, the famous monument marking the Equator, and explore the nearby artisan market. Take the <em>Teleférico</em> up to 3&thinsp;900&thinsp;m for breathtaking views and hiking trails. For adventure seekers, hike <em>Rucu Pichincha</em> (4&thinsp;800&thinsp;m) or <em>Guagua Pichincha</em> (4&thinsp;900&thinsp;m); but we strongly recommend going with a guide for safety reasons.</p>
        <p>We suggest staying at least a week in Quito, with two days in the city and the rest exploring nearby destinations like Papallacta, Otavalo, Mindo, Cotopaxi, and the Quilotoa lagoon. Just stay mindful of pickpocketing, especially in crowded areas, and it's best to consider a guided tour for a safer and more enriching experience.</p>
      </div>
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742582913/quito-cotopaxi-ecuador-land_eaz3hq.webp', class: 'story-flex-image') %>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742583721/464567819_8267470106691472_7707320191615684620_n_eyxqxp.jpg', class: 'story-flex-image') %>
      </div>
      <div>
        <h3>Otavalo</h3>
        <p>Home to one of South America's most famous indigenous markets, <em>La plaza de los ponchos</em>, where you can find vibrant handicrafts, textiles, and traditional artwork reflecting Ecuador’s rich culture. Strolling through the market, you'll see skilled artisans selling everything from handwoven alpaca wool garments to intricately carved jewelry and colorful Andean souvenirs.</p>
        <p>Beyond the market, nature lovers can visit the <em>Cuicocha Lagoon</em>, a stunning crater lake with deep blue waters formed by an ancient volcanic eruption, perfect for hiking or a boat tour. Another must-see is the <em>Peguche Waterfall</em>, a sacred site for the Kichwa people, surrounded by lush forest and ideal for a peaceful nature walk.</p>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <h3>Cotopaxi National Park</h3>
        <p>Stunning landscapes perfect for hiking, biking, and exploring its rugged terrain. Adventurers can visit the mountain refuge or, for a greater challenge, attempt to summit Cotopaxi Volcano (5&thinsp;900&thinsp;m), one of the world’s highest active volcanoes.</p>
        <p>For an even more extreme climb, <em>Chimborazo Volcano</em> (6&thinsp;300&thinsp;m) stands as Ecuador’s tallest peak and the closest point to the sun on Earth, with trails ranging from beginner hikes to expert-level ascents. A lesser-known alternative is <em>Morurco</em>, a hidden gem behind Cotopaxi, offering diverse hiking routes and breathtaking views with fewer crowds.</p>
      </div>
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742584775/Cotopaxi_with_horses_view_trek_jp5kde.webp', class: 'story-flex-image') %>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742584781/pailon_del_diablo_turismo_ecuador_24_um7vmp.jpg', class: 'story-flex-image') %>
      </div>
      <div>
        <h3>Baños</h3>
        <p>Situated between the Andes and the Amazon, Baños de Agua Santa is Ecuador’s adventure capital. Thrill-seekers can enjoy rafting on the Pastaza river, canyoning through waterfalls, ziplining across deep canyons, and hiking scenic trails. One of the town’s highlights is the route of waterfalls, where you can visit <em>Pailón del Diablo</em>, a powerful cascade with an immersive walkway. For a more relaxing experience, soak in the natural thermal baths, said to have healing properties. Baños also offers a vibrant nightlife scene, with bars and clubs where travelers gather after a day of adventure. Don’t miss <em>Casa del Árbol</em>, home to the famous swing at the end of the world, offering breathtaking views of Tungurahua Volcano.</p>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <h3>Cuenca</h3>
        <p>A beautiful city to explore, with its colonial streets, stunning cathedral domes (go up before 4:00pm for the best views!), and delicious local food at <em>Mercado 10 de Agosto</em> (try the mote pillo or hornado). If you’re up for an adventure, take a double-decker bus tour to <em>Turi</em> for an incredible city view or head out to <em>Cajas National Park</em> for some amazing hikes.</p>
        <p>Fun fact: the <em>Panama Hat</em> actually comes from Cuenca, not Panama! There’s even a museum where you can learn all about it. If you have time, visit <em>Saraguro</em> to experience Andean Kichwa culture or check out <em>Gualaceo</em> and <em>Chordeleg</em>, where artisans create beautiful handmade jewelry and textiles (perfect for a unique souvenir!).</p>
      </div>
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742759481/cuenca-ecuador-27-dsc_6476_aagxsc.jpg', class: 'story-flex-image') %>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1741544283/landscape-e1467643435868_yfd3p6.jpg', class: 'story-flex-image') %>
      </div>
      <div>
        <h3>Mindo</h3>
        <p>A lush cloud forest paradise, Mindo is perfect for nature lovers and adventure seekers alike. The area is famous for its biodiversity, offering incredible birdwatching opportunities, including sightings of the vibrant Andean cock-of-the-rock and hundreds of hummingbird species. Explore butterfly farms, where you can observe these delicate creatures up close. Mindo is also home to stunning waterfalls, accessible via scenic hikes or an exhilarating tarabita (cable car) ride over the forest canopy. For thrill-seekers, there’s tubing on the Mindo River, ziplining across the treetops, and canyoning down waterfalls. Chocolate lovers can indulge in cacao farm tours, learning about the process from bean to bar, with delicious tastings included. Whether you seek adventure, wildlife, or relaxation, Mindo offers a magical escape into Ecuador’s rich natural beauty.</p>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <h3>The Galápagos Archipelago</h3>
        <p>Many animals: sea lions, pinguins, boobies, turtles, iguanas, albatros... Paradise on earth and also Charles Darwin stuff. Animals don't run away because they have evolved on an island without predators. On the picture you can see Jess (left) next to a sea lion (right).</p>
      </div>
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742759488/IMG_20211220_172625130_HDR_xhzpzk.jpg', class: 'story-flex-image') %>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742759721/IMG_3574_wxxpun.jpg', class: 'story-flex-image') %>
      </div>
      <div>
        <h3>The Amazon</h3>
        <p>Also many animals (monkeys, jaguars, kaaiman, toekan, anaconda...) but harder to find. On the picture you can see Sebi next to a sleeping Anaconda.</p>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <h3>The Pacific Coast</h3>
        <p>...</p>
      </div>
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742759481/Coast_los_Frailes_v7ong3.webp', class: 'story-flex-image') %>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742760401/quilotoa-crater-lake_wq1sxw.jpg', class: 'story-flex-image') %>
      </div>
      <div>
        <h3>Quilotoa</h3>
        <p>A breathtaking turquoise crater lake awaits in the Ecuadorian Andes, formed within the collapsed caldera of an ancient volcano. Quilotoa is one of the most stunning destinations in the country, offering dramatic panoramic views, rugged hiking trails, and a glimpse into local indigenous culture. Whether you trek along the crater rim, descend to the water’s edge, or explore the surrounding highland villages, this natural wonder is a must-visit for adventurers and nature lovers alike.</p>
      </div>
    </div>
  </div>
</section>