<section id="exploring-index-leader" class="jumbotron text-center">
  <div class="container">
    <h1><%= t 'exploring.title' %></h1>
  </div>
</section>

<section class="default-content">
  <div class="container">
    <div class="story-flex-container">
      <div>
        <h3><%= t 'exploring.quito_title' %></h3>
        <p><%= t('exploring.quito_body_intro').html_safe %></p>
        <p><%= t('exploring.quito_body_center').html_safe %></p>
        <p><%= t('exploring.quito_body_hikes').html_safe %></p>
        <p><%= t('exploring.quito_body_mitad_del_mundo').html_safe %></p>
        <p><%= t('exploring.quito_body_stay').html_safe %></p>
      </div>
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742582913/quito-cotopaxi-ecuador-land_eaz3hq.webp', class: 'story-flex-image') %>
        <br>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1743949880/Teleferico-ride-Quito_icgikm.jpg', class: 'story-flex-image') %>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742583721/464567819_8267470106691472_7707320191615684620_n_eyxqxp.jpg', class: 'story-flex-image') %>
      </div>
      <div>
        <h3><%= t 'exploring.otavalo_title' %></h3>
        <p><%= t('exploring.otavalo_body_market').html_safe %></p>
        <p><%= t('exploring.otavalo_body_lagoon').html_safe %></p>
        <p><%= t('exploring.otavalo_body_waterfall').html_safe %></p>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <h3><%= t 'exploring.cotopaxi_title' %></h3>
        <p><%= t('exploring.cotopaxi_body_intro').html_safe %></p>
        <p><%= t('exploring.cotopaxi_body_chimborazo').html_safe %></p>
      </div>
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742584775/Cotopaxi_with_horses_view_trek_jp5kde.webp', class: 'story-flex-image') %>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1741544283/landscape-e1467643435868_yfd3p6.jpg', class: 'story-flex-image') %>
      </div>
      <div>
        <h3>Mindo</h3>
        <p>Tucked into the cloud forest about two hours from Quito, Mindo is a favorite getaway for nature lovers and adventure seekers. It’s known for its rich biodiversity, with excellent birdwatching (keep an eye out for hummingbirds, toucans, and the bright red Andean cock-of-the-rock).</p>
        <p>You can visit butterfly farms, hike to waterfalls, or ride a tarabita (cable car). If you're up for some action, try tubing on the Mindo River, ziplining, or even canyoning. For something more relaxing, visit a chocolate tour (we recommend <a href="https://maps.app.goo.gl/v4DtRPbUNdZPTJE87" target="_blank">Yumbos Chocolate</a>, where we had the best brownies of our life) and see how cacao is transformed into delicious chocolate.</p>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <h3>Quilotoa</h3>
        <p>A stunning turquoise crater lake high in the Andes, formed by a long-ago volcanic eruption. You can hike along the rim for sweeping views, or walk down to the lake for a closer look. Try to go in the morning, as the crater often fills with mist in the afternoon. Nearby villages offer a glimpse into traditional Andean life.</p>
      </div>
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742760401/quilotoa-crater-lake_wq1sxw.jpg', class: 'story-flex-image') %>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742759481/cuenca-ecuador-27-dsc_6476_aagxsc.jpg', class: 'story-flex-image') %>
        <br>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1744121446/temple_v0svz4.jpg', class: 'story-flex-image') %>
      </div>
      <div>
        <h3>Cuenca</h3>
        <p>A charming city full of history, colonial architecture, and vibrant local culture. Cuenca was once an important Inca city. Today, it’s also popular with digital nomads. Don’t miss the iconic blue domes of the <em>New Cathedral</em> (climb up before 4:00pm for a great view). Head to <em>Mercado 10 de Agosto</em> to try dishes like mote pillo (a typical Cuencano dish) or hornado.</p>
        <p>Take a double-decker bus ride to the <em>Mirador de Turi</em>, a hilltop viewpoint perfect for photos, or venture out to <em>Cajas National Park</em> for peaceful high-altitude hikes among lakes and dramatic landscapes.</p>
        <p>Fun fact: the <em>Panama Hat</em> actually comes from Cuenca, not Panama! You can even visit a hat museum to learn how they’re made. If you have extra time, explore <em>Saraguro</em> for Andean Kichwa culture, or visit <em>Gualaceo</em> and <em>Chordeleg</em>, known for their handmade jewelry and textiles (perfect for a unique souvenir).</p>
        <p>Ecuador’s most important Inca ruins, <em>Ingapirca</em>, offers a glimpse into the country’s pre-Columbian history. Set in the highlands north of Cuenca, the site features stone walls, ritual spaces, and the famous <em>Temple of the Sun</em>. It’s a peaceful spot to explore and imagine how the Inca once lived.</p>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <h3>Baños</h3>
        <p>Located between the Andes and the edge of the Amazon, Baños de Agua Santa is known as Ecuador’s adventure capital. Thrill-seekers can go rafting on the Pastaza River, canyoning through waterfalls, ziplining over deep canyons, or hiking scenic mountain trails.</p>
        <p>Don’t miss the <em>Ruta de las Cascadas</em>, a road dotted with waterfalls, including the famous <em>Pailón del Diablo</em>, where walkways take you right up close to the roaring water. Visit the <em>Casa del Árbol</em>, home to the swing at the end of the world, where you can swing out over a cliff with amazing views of Tungurahua Volcano.</p>
        <p>For a slower pace, relax in the town’s natural hot springs, which are said to have healing properties. Baños also has a fun and lively nightlife, with bars and clubs where travelers gather after a day outdoors.</p>
      </div>
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742584781/pailon_del_diablo_turismo_ecuador_24_um7vmp.jpg', class: 'story-flex-image') %>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1744018000/AMAZON_lodge_cafmcf.avif', class: 'story-flex-image') %>
        <br>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742759721/IMG_3574_wxxpun.jpg', class: 'story-flex-image') %>
      </div>
      <div>
        <h3>The Amazon Rainforest</h3>
        <p>Ecuador’s slice of the Amazon is one of the most biodiverse places on Earth. With a good guide and a bit of luck, you might spot monkeys, jaguars, sloths, tamanduas, toucans, anacondas (on the second picture, you can see one sleeping next to Sebi), caimans, iguanas, poison dart frogs, and the pink river dolphin. The legendary city of gold, El Dorado, was once believed to lie somewhere in the Ecuadorian Amazon.</p>
        <p>There are several ways to explore this incredible ecosystem, depending on how deep into the jungle you want to go:</p>
        <dl class="row">
          <dt class="col-sm-3">Cuyabeno & Yasuní</dt>
          <dd class="col-sm-9">The most remote and pristine parts of Ecuador’s Amazon. These protected reserves are perfect for multi-day excursions and wildlife spotting. You'll travel by canoe, sleep in eco-lodges, and be fully immersed in nature.</dd>

          <dt class="col-sm-3">Tena</dt>
          <dd class="col-sm-9">Known as the gateway to the Amazon, it’s a great base for adventure sports like rafting, while still offering access to jungle experiences and cultural visits with indigenous communities.</dd>

          <dt class="col-sm-3">Puyo</dt>
          <dd class="col-sm-9">Easily reachable by road, Puyo offers shorter day trips into the rainforest, plus visits to animal rescue centers and botanical gardens.</dd>

          <dt class="col-sm-3">Misahuallí</dt>
          <dd class="col-sm-9">A small riverside town where monkeys roam freely in the central plaza. From here, you can arrange jungle tours and boat rides on the Napo river.</dd>
        </dl>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <h3>The Pacific Coast</h3>
        <p>Ecuador’s Pacific Coast offers warm beaches, fresh seafood, and relaxed coastal vibes. While the beaches here may not be as remote or wildlife-rich as in the Galápagos, they're perfect for surfing, swimming, and enjoying a more budget-friendly trip.</p>
        <p>Nature lovers should head to <em>Machalilla National Park</em>, a coastal reserve with dry forest trails, marine life, and some of Ecuador’s most scenic beaches. From <em>Puerto López</em>, you can visit the famous <em>Los Frailes</em> beach (popular for whale watching, but only between June and September).</p>
        <p>For a slower pace, <em>Ayampe</em> is a peaceful surf town known for yoga retreats, beach walks, and amazing food. It’s quiet and relaxing, but close enough to <em>Montañita</em> and <em>Olón</em> if you’re looking for bars and nightlife.</p>
        <p>Ecuador’s <em>coastal cuisine</em> is a highlight on its own. Try ceviche, encocado (a coconut seafood stew), grilled fish, and plantain-based dishes like patacones and bolones.</p>
        <p>Avoid traveling at night and keep an eye on your belongings, especially on the beach or in busier towns. Most destinations not mentioned on this page are best avoided, and we don’t recommend visiting Guayaquil, unless absolutely necessary (e.g. for the airport).</p>
      </div>
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742759481/Coast_los_Frailes_v7ong3.webp', class: 'story-flex-image') %>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1742759488/IMG_20211220_172625130_HDR_xhzpzk.jpg', class: 'story-flex-image') %>
      </div>
      <div>
        <h3>The Galápagos Archipelago</h3>
        <p>A true paradise on Earth, the Galápagos Islands are famous for their incredible wildlife and otherworldly landscapes. Because there are so few natural predators, animals here aren’t afraid of humans, making it easy to observe (and photograph) sea lions, blue-footed boobies, giant tortoises, penguins, iguanas, albatrosses, and more up close.</p>
        <p>The islands inspired Charles Darwin’s theory of evolution, and today they remain one of the world’s most unique ecosystems. Strict conservation rules help keep it that way: you’re not allowed to touch the animals, feed them, or stray from marked paths. You also can't bring in fresh produce, seeds, or animal products, so pack accordingly.</p>
        <p>To visit, you’ll need to fly from mainland Ecuador (Quito or Guayaquil) and pass through an extra checkpoint for your luggage. You’ll also pay two separate fees: a &#36;20 Transit Control Card at the airport, and a &#36;100 national park entrance fee upon arrival.</p>
        <p>While it’s possible to plan your own visit, we strongly recommend going with a guide or a tour. Most places can only be accessed with authorized guides, and they’ll help you make the most of this once-in-a-lifetime experience.</p>
      </div>
    </div>
  </div>
</section>